@import '../../../scss/constant';

.toysPage {
  position: relative;
  background: linear-gradient(rgba(mix($accent-color, #000, 0.1), 0.5), rgba(mix($accent-color, #000, 0.1), 0.5)),
    center / cover no-repeat url('../../../assets/bg.webp');
  background-attachment: fixed;
}
.toys-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
  padding-bottom: 100px;
}
.toys__message {
  font-size: 25px;
  text-align: center;
  display: none;
}

.card {
  @include glass-plate;
  position: relative;
  min-width: 300px;
  max-width: 370px;
  padding: 20px 20px 20px 0;
  cursor: pointer;

  &__title {
    margin-bottom: 18px;
    font-family: 'Neucha';
    font-size: $fz2;
    text-align: center;
  }
  &__inner {
    @include flex-space-between;
  }
  &__img {
    align-self: flex-start;
    width: 90px;
    margin: 0 auto;
  }
  &__info {
    margin-bottom: 5px;
    font-size: $fz4;
    list-style-type: none;
  }

  &.selected .ribbon {
    background: #cbb77a;
    &:after {
      border-left: 15px solid #cbb77a;
    }
  }
}

.ribbon {
  width: 100px;
  height: 40px;
  line-height: 50px;
  padding-left: 15px;
  position: absolute;
  left: -13px;
  bottom: 30px;
  background: $accent-color;

  &:before,
  &:after {
    content: '';
    position: absolute;
  }
  &:before {
    height: 0;
    width: 0;
    top: -8.5px;
    left: 0.1px;
    border-bottom: 9px solid mix($main-color, $accent-color, 90%);
    border-left: 9px solid transparent;
  }
  &:after {
    height: 0;
    width: 0;
    right: -14.5px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid $accent-color;
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0 50px;
}

.filter {
  @include flex-column;
  flex-grow: 1;
  padding: 20px 10px;
  font-size: $fz4;
  @include glass-plate;
  border: 0;

  &__title {
    margin-bottom: 10px;
    font-size: $fz3;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Neucha', italic;
  }
  &__inner {
    width: 80%;
    min-width: 250px;
    list-style: none;
  }
  &__field {
    display: flex;
    align-items: center;
    margin: 15px 0;
  }

  &__label {
    display: block;
    padding: 15px 0 10px;
  }
}

.shape__value-btn,
.color__value-btn,
.size__value-btn,
.favorite__value-btn {
  width: 25px;
  height: 25px;
  margin: 0 3px;
  background-color: transparent;
  border: 0;
}

$toys: 'ball', 'bell', 'cone', 'snowflake', 'toy';

.shape__value-btn {
  @for $i from 1 through length($toys) {
    $toy: nth($toys, $i);
    &:nth-child(#{$i}) {
      @include cover-background-image('../../../assets/svg/#{$toy}.svg');
    }
  }

  &.active {
    filter: brightness(0.7);
  }
}

.color__value-btn {
  position: relative;
  border-radius: 3px;
  margin: 0 5px;

  @for $i from 1 through length($rainbow-colors) {
    $color: nth($rainbow-colors, $i);

    &:nth-child(#{$i}) {
      background-color: #{$color};
    }
  }

  &.active::after {
    content: '✔';
    color: #000;
    font-size: 18px;
  }
}

$toys-size: 70%, 90%, 100%;

.size__value-btn {
  @include cover-background-image('../../../assets/svg/ball.svg');

  @for $i from 1 through length($toys-size) {
    $size: nth($toys-size, $i);

    &:nth-child(#{$i}) {
      background-size: #{$size};
    }
  }

  &.active {
    filter: brightness(0.7);
  }
}

.favorite__value-btn {
  margin-left: 10px;
}

.range {
  @include flex-space-between;

  &__value {
    @include glass-plate;
    width: 55px;
    padding: 5px;
    margin: 0 20px;
    font-size: 15px;
    text-align: center;
    cursor: auto;

    &:focus {
      outline: none;
    }

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .double-slider {
    height: 6px;
    width: 40%;
    border: 0;
  }

  .noUi-horizontal .noUi-handle {
    width: 15px;
    height: 15px;
    right: -10px;
    top: -5px;
    border-radius: 50%;

    &::before,
    &::after {
      content: none;
    }
  }
}

.filter__sort {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.filter__sort-types {
  padding: 10px;
  @include glass-plate;
  margin-bottom: 30px;
}

.filter__sort-type {
  padding: 100px;
  color: #000;
}

.filter__reset {
  @include glass-plate;
  padding: 8px 10px;
}
