@font-face {
  font-family: 'Quattrocento Sans';
  src: url('../assets/font/QuattrocentoSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Quattrocento Sans';
  src: url('../assets/font/QuattrocentoSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quattrocento Sans';
  src: url('../assets/font/QuattrocentoSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Quattrocento Sans';
  src: url('../assets/font/QuattrocentoSans-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quattrocento Sans';
  font-weight: normal;
  color: #fff;
  overflow: hidden;
  background-color: $bg-color;
}
.container {
  height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
  width: calc(100vw - 40px);
}
.main {
  height: calc(100vh - 45px);
}

.btn {
  padding: 10px 25px;
  color: #fff;
  font-weight: normal;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  transition: all 0.3s linear;
  cursor: pointer;

  &:hover {
    color: $main-color;
    background-color: #fff;
  }
  &:active,
  &.btn_active {
    color: $main-color;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    border: $accent-color 1px solid;
    opacity: 0.8;
  }
  &.btn_active:hover {
    opacity: 1;
  }
}
.icon {
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s linear;

  &:hover {
    opacity: 1;
  }
}
