.category {
  margin-top: 20px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__logo {
    margin-bottom: 10px;
    height: 62px;
    width: 160px;
    background: center / contain no-repeat url('../assets/svg/art_quiz_accent.svg');
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: start;
  }
}

.content {
  height: calc(100vh - 270px);
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
  &__inner {
    column-count: 2;
    gap: 20px;
  }
}

.card {
  position: relative;
  margin-bottom: 25px;
  width: max-content;
  overflow: hidden;
  cursor: pointer;
  &__painting {
    height: calc(50vw - 40px);
    width: calc(50vw - 40px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 15px;
    transition: background-image 9s ease-in-out;
  }
  &__header {
    @include flex-space-between;
    margin-bottom: 8px;
  }
  &__title {
    position: relative;
    font-size: $fz5;
  }
  &__details {
    position: absolute;
    bottom: 25px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    color: $main-color;
    background: $accent-color;
    transition: 0.2s;
    border-radius: 0 0 15px 15px;
    pointer-events: none;
    transform-origin: bottom;
    transform: translateY(80px);
  }
  &_inactive .card__painting {
    filter: grayscale(100%);
  }
  &_inactive .card__score {
    display: none;
  }
  &_completed {
    filter: none;
    &:hover .card__details {
      transform: translateY(+25px);
    }
    &:hover .card__header {
      color: $accent-color;
      & .card__title {
        text-decoration: underline;
      }
      & .card__title::after {
        content: '';
        position: absolute;
        top: 5px;
        right: -15px;
        width: 12px;
        height: 9px;
        background-image: url('../assets/svg/eye.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  &__picture-description {
    @include flex-column;
    justify-content: center;
    padding: 35px 0;
    font-size: $fz4;
    transform: translateY(130px);
  }
  &__picture-info {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    font-size: 10px;
  }
}

.category {
  &__title {
    margin-bottom: 50px;
    font-size: $fz3;
  }
  &__icon {
    &_active path {
      stroke: $accent-color;
    }
    &_active ~ span {
      color: $accent-color;
    }
  }
  &__nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }
}

.nav {
  padding: 14px 0;
  border-radius: 20px 20px 0 0;
  border: 1px solid #fff;
  background-color: $bg-color;
  &__inner {
    @include flex-space-between;
    max-width: 270px;
    margin: 0 auto;
  }
  &__item {
    @include flex-column;
    list-style-type: none;
  }
}
