.cover {
  background: center / cover no-repeat url('../assets/img/cover.jpg');
}
.entry {
  height: calc(100% - 120px);
  margin-top: 20px;
}
.entry__header {
  display: flex;
  justify-content: end;
}
.entry__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100%;
}
.entry__btn {
  max-width: 270px;
  width: 100%;
  margin-top: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 40px);
  padding: 10px 0;
  font-size: $fz6;
}
.entry__logo {
  margin-bottom: 10px;
  height: 62px;
  width: 160px;
  background: center / contain no-repeat url('../assets/svg/art_quiz.svg');
}
.developer {
  color: #fff;
  text-decoration: none;
}
