.cover {
  background: center 20% / cover no-repeat url('../assets/img/cover.jpg');
  overflow: hidden;
}
.entry {
  height: 60vh;
  margin-top: 20px;

  &__header {
    display: flex;
    justify-content: end;
  }
  &__inner {
    display: flex;
    @include flex-column;
    justify-content: end;
    height: 100%;
  }
  &__action {
    flex-wrap: wrap;
    @include flex-space-between;
    flex-direction: column;
    width: 60vw;
    max-width: 600px;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
  &__btn {
    max-width: 270px;
    width: 100%;
    margin-top: 20px;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  @include flex-space-between;
  height: 45px;
  width: 95vw;
  max-width: 1440px;
  padding: 10px 0;
  font-size: $fz6;
}
.entry__logo {
  margin-bottom: 10px;
  height: 60px;
  width: 161px;
  @include cover-background-image('../assets/svg/art_quiz.svg');
}
.developer {
  color: #fff;
  text-decoration: none;
}
