@font-face {
  font-family: 'Quattrocento Sans';
  src: url('../assets/font/QuattrocentoSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quattrocento Sans';
  src: url('../assets/font/QuattrocentoSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}