/**
 * @prettier
 */
/* ----------------
       General
  ----------------- */
:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --theme-light: #fff;
  --theme-dark: #000;
  --theme-bg-light: #fff;
  --theme-gold: #9d8665;
  --theme-border: #000;
  --font1: 80px;
  --font2: 32px;
  --font3: 28px;
  --font4: 22px;
  --font5: 18px;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 75px 0;
}

/* ----------------
      Typography
  ----------------- */

*[class$='_dark'] {
  color: var(--black);
}
*[class$='_bg-light'] {
  background-color: var(--theme-bg-light);
  color: var(--theme-dark);
}
*[class$='_bg-light'] h2 {
  color: var(--theme-gold);
}
*[class$='_gold'] {
  color: var(--font-gold);
}
*[class$='_red'] {
  color: var(--dark-red);
}
*[class$='_light'] {
  color: #fff;
}
*[class$='_bold'] {
  font-weight: bold;
}
*[class$='_bg-dark'] {
  background-color: var(--bg-dark);
  color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  margin: 0;
  font-family: 'Forum', cursive;
  font-size: var(--font1);
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 90px;
  text-transform: uppercase;
}
.title.underline {
  margin-bottom: 103px;
}
.subtitle {
  font-size: var(--font3);
  font-weight: 300;
  letter-spacing: 2px;
}
.text {
  font-size: var(--font4);
  font-weight: 300;
}
.link,
.date {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease;
}
.footer__socials {
  display: flex;
}

.link:hover,
.information__link:hover,
.socials__button:hover {
  color: var(--font-gold);
}
.link_active {
  color: #7e6c51;
}

.underline {
  position: relative;
}
.underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -28px;
  height: 3px;
  background-color: var(--dark-red);
}
button {
  cursor: pointer;
}

@media (max-width: 1150px) {
  :root {
    --font1: 50px;
    --font2: 28px;
    --font3: 24px;
    --font4: 20px;
    --font5: 16px;
  }
  .container {
    padding: 60px 0;
  }
  .title {
    line-height: 75px;
  }
  .title.underline {
    margin-bottom: 85px;
  }
  .underline::after {
    bottom: -23px;
  }
}
@media (max-width: 930px) {
  :root {
    --font1: 40px;
    --font2: 22px;
    --font3: 20px;
    --font4: 18px;
    --font5: 16px;
  }
  .container {
    padding: 40px 0;
  }
  .title {
    line-height: 60px;
  }
  .title.underline {
    margin-bottom: 65px;
  }
}
@media (max-width: 660px) {
  :root {
    --font1: 28px;
    --font2: 18px;
    --font3: 16px;
    --font4: 16px;
    --font5: 16px;
  }
  .title {
    line-height: 40px;
  }
  .title.underline {
    margin-bottom: 62px;
  }
  .underline::after {
    bottom: -22px;
  }
}
/* ----------------
    Modal-General
  ---------------- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__container {
  padding-top: 15px;
}
.modal__content {
  position: relative;
  width: 100%;
  padding: 91px 0;
  background-color: #fff;
  border-radius: 4px;
  overflow-y: auto;
}
.modal__close {
  position: absolute;
  top: -8px;
  right: 24px;
  font-size: 70px;
  color: #000;
  opacity: 0.5;
  font-weight: 100;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* ----------------
      Ripple
  ----------------- */

.ripple {
  position: relative;
}

.ripple::active,
.ripple::visited,
.ripple:focus {
  border: 0;
}

.ripple__span {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleAnimation {
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
/* ----------------
        Header
  ----------------- */

.header {
  /* position: relative; */
  position: sticky;
  top: 0;
  background-color: var(--bg-dark);
  padding: 59px 0 58px;
  z-index: 1020;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.logo {
  height: 33px;
  width: 199px;
  background-image: url('../assets/svg/logo.svg');
  background-repeat: no-repeat;
}
.btn {
  background-color: transparent;
  border: 0;
}

.header_theme-icon {
  height: 35px;
  width: 35px;
}
.header_theme-icon path {
  fill: #fff;
}
.reservation__logo {
  height: 41px;
  width: 85px;
  background-image: url('../assets/svg/gold-logo.svg');
}
.nav {
  max-width: 775px;
  width: 70%;
  line-height: 26px;
}
.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav__toggle {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: 0;
  opacity: 0.7;
  transition: opacity 0.3s linear;
}
.nav__toggle:hover {
  opacity: 1;
}
.a-nav__modal {
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 15;
}
.a-nav__close {
  color: #fff;
}
.a-nav__content {
  height: 100%;
  min-height: 430px;
  padding: 33px 0;
  background-color: var(--bg-dark);
}
.a-nav__container {
  width: 30%;
  margin: 0;
  padding-top: 130px;
}
.a-nav__nav {
  padding: 0 55px;
}
.a-nav__inner {
  color: #fff;
  list-style: none;
}
.a-nav__item {
  margin-bottom: 22px;
}
.a-nav__socials {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.a-nav__link {
  position: relative;
}
.a-nav__link::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 111px;
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  background-image: url('../assets/svg/nav_arrow.svg');
}
.a-nav__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 11px;
}
.a-nav__images_s_show {
  display: none;
}
.a-nav__image {
  display: inline-block;
  background-position: center;
  background-size: cover;
}
.a-nav__image_1 {
  margin-bottom: 20px;
  height: 194px;
  width: 100%;
  background-image: url('../assets/img/footer/image1.jpg');
}
.a-nav__image_2 {
  height: 161px;
  width: calc(50% - 10px);
  background-image: url('../assets/img/footer/image2.jpg');
}
.a-nav__image_3 {
  height: 161px;
  width: calc(50% - 10px);
  background-image: url('../assets/img/footer/image3.jpg');
}
.a-nav__hr {
  margin-top: 35px;
}
.a-nav .socials {
  justify-content: center;
  margin-bottom: 0;
  padding-right: 0;
}
.a-nav__socials_s_show {
  display: none;
}
@media (max-width: 930px) {
  .a-nav__images_s_show {
    display: flex;
  }
  .a-nav__socials_s_show {
    display: flex;
  }
}
@media (max-width: 660px) {
  .a-nav__link {
    font-size: 20px;
  }
  .a-nav__content {
    padding: 14px 0;
  }
  .a-nav__images {
    flex-wrap: nowrap;
  }
  .a-nav__image {
    height: 95px;
    width: calc(33% - 7px);
  }
  .a-nav__hr {
    margin-top: 0px;
  }
}

/* ----------------
      Welcome
  ----------------- */

.welcome__container {
  position: relative;
  padding: 0;
}
.welcome__info {
  position: absolute;
  z-index: 10;
  width: calc(50% - 15px);
}
.welcome__title {
  position: relative;
  max-width: 60%;
  padding: 150px 0 25px;
}
.welcome__subtitle {
  position: relative;
  margin-bottom: 75px;
}
.welcome__btn {
  position: relative;
  padding: 1.1em 3.1em;
  font-size: var(--font4);
  font-weight: 200;
  color: #ffffff;
  letter-spacing: 2px;
  line-height: 75px;
  text-decoration: none;
  background-color: var(--dark-red);
  border-radius: 10px;
  z-index: 2;
  transition: background-color 0.5s ease;
}
.welcome__btn:hover,
.booking__submit:hover,
.overview__btn:hover {
  background-color: var(--font-gold);
}
/* ----------------
      Slider
  ----------------- */

.welcome__slider {
  position: relative;
  margin-left: auto;
  width: 71%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.welcome__slider::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0.5) 16.19%,
    rgba(0, 0, 0, 0) 30.73%
  );
}
.slider__wrapper {
  width: 100%;
}
.slider__slide {
  width: 100%;
  height: 100%;
}
.slider__slide img {
  width: 100%;
  height: 100%;
  user-select: none;
  object-fit: cover;
}
.slider__counter {
  width: 600px;
  height: 120px;
  margin-top: -64px;
  z-index: 1;
  font-size: var(--font4);
  font-weight: 400;
  color: #ffffff;
  background-color: var(--bg-dark);
}
.slider__counter-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  height: 100%;
  line-height: 40px;
}
.slider__carousel-indicators {
  z-index: 15;
  display: flex;
  justify-content: center;
  list-style: none;
}
.slider__carousel-dot {
  display: block;
  height: 16px;
  width: 16px;
  background-color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: all 0.4s ease;
}
.slider__carousel-dot:not(:last-child) {
  margin-right: 25px;
}
.slider__position {
  margin-right: -10px;
}
.slider__position {
  min-width: 70px;
}
.slider__num {
  padding: 0 5px;
}
.slider__arrows {
  display: flex;
}
.slider__prev {
  margin-right: 10px;
  background-color: transparent;
  border: 0;
  transition: all 0.4s ease;
}
.slider__next {
  margin-left: 10px;
  background-color: transparent;
  border: 0;
  transition: all 0.4s ease;
}
.slider__carousel-dot:hover {
  opacity: 0.7;
}

.slider__next:hover path,
.slider__prev:hover path {
  fill: var(--font-gold);
}

@media (max-width: 1150px) {
  .header {
    padding: 49px 0 48px;
  }
  .header .nav__inner {
    display: none;
  }
  .welcome__title {
    padding: 50px 0 25px;
    line-height: 90px;
  }
  .welcome__info_md_hide {
    display: none;
  }
  .welcome__subtitle {
    margin-bottom: 45px;
  }
  .welcome__btn {
    padding: 20px 45px;
  }
  .slider__carousel-dot {
    height: 12px;
    width: 12px;
  }
  .slider__counter {
    width: 100%;
  }
  .slider__counter-inner {
    padding: 0 70px 0 218px;
  }
}

@media (min-width: 1150px) {
  .nav__toggle {
    display: none;
  }
}

@media (max-width: 930px) {
  .header {
    padding: 42px 0 34px;
  }
  .header .nav {
    width: auto;
  }
  .welcome__title {
    padding-top: 0;
    max-width: 100%;
    line-height: 60px;
    text-align: center;
  }
  .welcome__subtitle {
    margin-bottom: 48px;
  }
  .welcome__btn_s_hide {
    display: none;
  }
  .welcome__info {
    position: relative;
    margin: 0 auto;
    max-width: 332px;
  }
  .welcome__info_md_hide {
    display: block;
  }
  .welcome__slider {
    width: 100%;
  }
  .welcome__slider::after {
    background-image: none;
  }
  .a-nav__container {
    width: 100%;
    padding-top: 110px;
  }
  .slider__counter {
    margin-top: -5px;
    height: 100px;
  }
  .slider__counter-inner {
    justify-content: space-between;
    padding: 0 160px;
  }
  .slider__position {
    margin-right: 0;
  }
  .slider__num:first-child {
    margin-left: 0;
  }
  .slider__next {
    padding-right: 0;
  }
}
@media (max-width: 730px) {
  .slider__counter-inner {
    padding: 0 95px;
  }
}
@media (max-width: 660px) {
  .logo {
    height: 20px;
    width: 131px;
    background-size: cover;
  }
  .reservation__logo {
    height: 41px;
    width: 85px;
    background-image: url(../assets/svg/gold-logo.svg);
  }
  .header {
    padding: 34px 0 34px;
  }
  .welcome__info {
    width: 100%;
    padding-top: 7px;
  }
  .welcome__title {
    line-height: 40px;
  }
  .welcome__subtitle {
    text-align: center;
  }
  .slider__carousel-dot {
    height: 7px;
    width: 7px;
  }
  .slider__carousel-dot:not(:last-child) {
    margin-right: 10px;
  }
  .slider__prev > svg,
  .slider__next > svg {
    width: 20px;
  }
}
/* ----------------
      Visiting
  ----------------- */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 76px 30px;
  max-width: 1440px;
}
.card {
  display: block;
  text-decoration: none;
  color: var(--theme-dark);
  transition: all 0.5s ease;
}

.card__vr {
  padding-bottom: 10px;
  font-size: var(--font4);
  font-weight: 200;
}
.card__googl-street {
  font-size: var(--font5);
  font-weight: 200;
}
.card__img {
  margin-bottom: 22.5px;
}
.card__title {
  font-family: 'Forum', cursive;
  font-size: var(--font2);
  letter-spacing: 5px;
  line-height: 35px;
  text-transform: uppercase;
}
.card__title.underline {
  margin-bottom: 22px;
}
.card__title.underline::after {
  width: 68%;
  height: 2px;
  bottom: -12px;
  transition: width 0.5s ease;
}
.card:hover .card__title.underline:after {
  width: 100%;
}

@media (max-width: 1440px) {
  .cards {
    justify-content: space-evenly;
  }
  .card__title {
    letter-spacing: 3px;
  }
}
@media (max-width: 1150px) {
  .card__img {
    width: 330px;
  }
  .cards {
    gap: 60px 30px;
  }
  .card__title.underline {
    line-height: 30px;
  }
  .card__title.underline::after {
    width: 45%;
    bottom: -13px;
  }
}
@media (max-width: 1024px) {
  .cards {
    gap: 62px 0;
  }
}
@media (max-width: 930px) {
  .cards {
    gap: 39px 10px;
  }
  .card__img {
    width: 278px;
    margin-bottom: 16px;
  }
  .card__title.underline::after {
    width: 54%;
    bottom: -9px;
  }
  .visiting__container {
    padding-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .cards {
    gap: 39px 0;
  }
}
@media (max-width: 660px) {
  .cards {
    gap: 40px 0;
  }
  .card__title {
    letter-spacing: 5px;
  }
  .card__title.underline {
    line-height: 27px;
  }
  .visiting__container {
    padding-bottom: 37px;
  }
}
/* ----------------
      Explore
  ----------------- */

.explore__container {
  display: flex;
}
.explore__text {
  margin-bottom: 25px;
  line-height: 39px;
}

.explore__text_yellow {
  color: #caaa7d;
}
.explore__description {
  max-width: 660px;
  margin-right: 60px;
}
.compare {
  width: 50%;
  display: block;
  margin-top: 15px;
  width: 720px;
  height: 700px;
}

.compare__img {
  display: block;
  pointer-events: none;
  user-select: none;
}

.compare__slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.compare__after-image {
  display: block;
  overflow: hidden;
}

.compare__before-image {
  position: absolute;
  height: 100%;
  width: 61%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

.resizer {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 5;
  top: 0;
  left: 61%;
  height: 100%;
  cursor: e-resize;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.resizer:after {
  content: '';
  position: absolute;
  margin-left: -20px;
  background-image: url('../assets/img/explore-slider/resizer.svg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 40px;
}

@media (max-width: 1150px) {
  .explore__description {
    max-width: inherit;
    margin-right: 0;
  }
  .explore__container {
    display: block;
  }
  .compare {
    margin: 0 auto;
    margin-top: 65px;
  }
  .explore__text {
    margin-bottom: 0;
    line-height: 35px;
  }
  .explore__text_md_hide {
    display: none;
  }
}
@media (max-width: 930px) {
  .explore__text_s_hide {
    display: none;
  }
}
@media (max-width: 768px) {
  .compare {
    max-width: 100%;
    height: auto;
  }
  .compare__img {
    object-fit: cover;
  }
  .compare__slider {
    height: auto;
  }
}
@media (max-width: 660px) {
  .resizer:after {
    margin-left: -13px;
    background-size: contain;
    width: 21px;
  }
  .resizer {
    height: 103%;
  }
  .compare {
    margin-top: 62px;
  }
}

/* ----------------
      Video
  ----------------- */

.video__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video__text {
  max-width: 720px;
  line-height: 38px;
}
.player__video {
  object-fit: cover;
  height: 650px;
  width: 100%;
  margin: 75px 0 -5px;
}
.player__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  background-color: #000;
}
.video__player {
  position: relative;
}
.video__speed {
  display: block;
  margin: 0 auto;
  max-width: 80px;
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(112, 102, 102);
  border-radius: 20px;
}
.player__wrapper {
  position: absolute;
}
.player__wrapper:hover {
  opacity: 0.7;
}
.player__wrapper-before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-image: url('../assets/svg/play-big.svg');
  background-size: 15%;
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-position: center 57%;
  z-index: 1000;
}

.player__play-button {
  height: 31px;
  width: 21px;
}
.player__volume-button {
  height: 31px;
  width: 38px;
  /* object-fit: cover; */
}
.player__play-button:hover,
.player__volume-button:hover,
.player__expand-button:hover {
  opacity: 0.7;
}
.player__range-time {
  width: 70%;
  max-width: 929px;
  height: 8px;
  -webkit-appearance: none;
  background: #c4c4c4;
}
.player__range-time::-webkit-slider-thumb {
  margin-top: -3px;
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
.player__range-volume {
  width: 155px;
  -webkit-appearance: none;
  height: 8px;
  background: #c4c4c4;
}
.player__range-time_s_show {
  display: none;
}
.player__range-volume::-webkit-slider-thumb {
  margin-top: -3px;
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.player__range-time::-webkit-slider-runnable-track,
.player__range-volume::-webkit-slider-runnable-track {
  height: 8px;
  background: linear-gradient(to right, #710707, #710707), #d7d7d7;
  background-size: var(--background-size, 0%) 100%;
  background-repeat: no-repeat;
}

.video__slider {
  margin-top: 40px;
}
.splide__arrow {
  position: absolute;
  top: 115%;
}
.vslider__prev {
  transform: rotate(-180deg);
}
.splide__arrow--next {
  right: 43%;
}
.splide__arrow--prev {
  left: 43%;
}
.splide__pagination {
  top: 113%;
}
.splide__pagination__page {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #999;
}
.splide__pagination__page:not(:last-child) {
  margin-right: 20px;
}
.splide__pagination__page.is-active {
  background: #333;
  transform: scale(1);
}
.splide__pagination__page:hover {
  background-color: var(--dark-red);
}
.vslider__prev:hover path,
.vslider__next:hover path {
  fill: var(--dark-red);
}
.vslider__prev,
.vslider__next {
  width: 10px;
  height: 12px;
  background-color: transparent;
  border: 0;
}
.vslider__video {
  width: 100%;
  height: 253px;
  margin: 0 15px;
  border: 0;
}

@media (max-width: 1150px) {
  .video__text_md_hide {
    display: none;
  }
  .player__video {
    height: 444px;
    margin-top: 40px;
  }
  .player__wrapper-before {
    background-position: center 55%;
  }
  .player__range-time::-webkit-slider-runnable-track,
  .player__range-volume::-webkit-slider-runnable-track {
    height: 5px;
  }
  .player__range-time {
    width: 62.5%;
    height: 5px;
  }
  .player__range-time::-webkit-slider-thumb,
  .player__range-volume::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }
  .player__range-volume {
    width: 140px;
    height: 5px;
  }
  .player__panel {
    padding: 15px 40px;
  }
  .player__expand-button {
    height: 26px;
    width: 26px;
  }
  .player__volume-button {
    height: 20px;
    width: 26px;
    object-fit: cover;
  }
  .vslider__video {
    height: 170px;
    width: 30.5%;
  }
}
@media (max-width: 930px) {
  .player__video {
    height: 328px;
    margin-top: 22px;
  }
  .player__range-time {
    width: 100%;
  }
  .player__range-time_s_show {
    position: relative;
    display: block;
  }
  .player__range-time_s_hide {
    display: none;
  }
  .player__range-volume {
    width: 72.5%;
  }
  .player__wrapper-before {
    background-size: 11%;
    background-position: center 49%;
  }
  .player__panel {
    padding: 11px 30px;
  }
  .video__slider {
    margin-top: 20px;
  }
  .vslider__video_s_hide {
    display: none;
  }
  .vslider__video {
    width: calc((100% - 20px) / 2);
    max-height: 200px; /**/
    height: 200px;
  }
  .vslider__dot {
    height: 10px;
    width: 10px;
  }
  .vslider__control {
    margin-top: 20px;
  }
  .video__container {
    padding-bottom: 80px;
  }
}
@media (max-width: 660px) {
  .player__video {
    height: 172px;
    margin-top: 16px;
  }
  .player__wrapper-before {
    background-size: 13%;
    background-position: center 46%;
  }
  .player__play-button {
    height: 17px;
    width: 13px;
  }
  .player__volume-button {
    height: 14px;
    width: 18px;
  }
  .player__expand-button {
    height: 18px;
    width: 18px;
  }
  .player__range-time::-webkit-slider-runnable-track,
  .player__range-volume::-webkit-slider-runnable-track {
    height: 4px;
  }
  .player__range-time {
    height: 4px;
  }
  .player__range-time::-webkit-slider-thumb,
  .player__range-volume::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }
  .player__range-volume {
    height: 4px;
  }
  .player__panel {
    padding: 17px 20px;
  }
  .player__range-volume {
    width: 59.5%;
  }
  .video__slider {
    margin-top: 40px;
  }
  .vslider__video {
    max-height: 100px;
  }
  .vslider__prev svg,
  .vslider__next svg {
    width: 7px;
    height: 8px;
  }
  .vslider__dot {
    height: 8px;
    width: 8px;
  }
  .vslider__control {
    margin-top: 40px;
  }
  .video__container {
    padding-bottom: 40px;
  }
}

/* ----------------
      Gallery
  ----------------- */

.gallery__title {
  margin-bottom: 75px;
}

.picture {
  position: relative;
  height: 1885px; /*js*/
  overflow: hidden;
}
.picture::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 85%,
    #000000 100%
  );
}
.picture__inner {
  height: 3020px; /*js*/
  column-count: 3;
  column-gap: 36px;
  width: 100%;
}

.picture__item {
  width: 100%;
  break-inside: avoid;
  margin-bottom: 20px;
}
.picture__item:nth-child(1),
.picture__item:nth-child(11) {
  margin-top: 50px;
}

@media (max-width: 1150px) {
  .gallery__title {
    margin-bottom: 60px;
  }
  .picture {
    height: 1205px; /*js*/
  }
}
@media (max-width: 768px) {
  .picture__inner {
    column-count: 2;
    column-gap: 24px;
  }
  .picture {
    margin-top: -20px;
    height: 1040px;
  }
  .picture__item:nth-child(11) {
    margin-top: 0;
  }
}
@media (max-width: 660px) {
  .picture {
    height: 597px;
  }
}

/* ----------------
      Tickets
  ----------------- */

.tickets__inner {
  display: flex;
  justify-content: space-between;
}
.tickets__booking {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
}
.booking__amount,
.booking__type {
  padding: 0;
  border: 0;
}
.booking__type {
  margin-left: 60px;
}
.booking__amount {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.booking__submit {
  margin-top: 37px;
  transition: background-color 0.5s ease;
}
.booking__title {
  font-weight: 700;
  font-size: 28px;
  font-weight: bold;
}
.booking__total {
  letter-spacing: 1.65px;
  margin-top: 43px;
}

/* ---------------------
  Tickets radio input
  --------------------- */

.booking__radio-label {
  position: relative;
  display: flex;
  align-items: center;
  margin: 25px 0;
  padding-left: 40px;
  line-height: 27px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 300;
  -webkit-user-select: none;
  user-select: none;
}
.booking__radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.booking__checkmark {
  position: absolute;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #000;
}
.booking__radio-label:hover .booking__radio ~ .booking__checkmark {
  background-color: #ccc;
}
.booking__radio-label .booking__radio:checked ~ .booking__checkmark {
  background-color: #eee;
}
.booking__checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.booking__radio-label .booking__radio:checked ~ .booking__checkmark:after {
  display: block;
}
.booking__radio-label .booking__checkmark:after {
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
}

.booking__legend {
  font-size: 22px;
  font-weight: 300;
}
.booking__title {
  margin-bottom: 25px;
}
.booking__amount .booking__title {
  text-align: right;
}

/* ---------------------
  Tickets number input
  --------------------- */

.number-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 150px;
  margin: 15px 0 10px;
  font-size: 22px;
  font-weight: 300;
  border: 3px var(--theme-border) solid;
}
.number-input__input {
  all: unset;
  width: 3em;
  text-align: center;
}
.number-input__plus,
.number-input__minus {
  padding: 6px 9px;
  font-size: 32px;
  font-weight: 400;
  border: 0;
  background-color: #fff;
  transition: opacity 0.2s ease;
}
.number-input__plus:hover,
.number-input__minus:hover {
  opacity: 0.5;
}
.booking__submit {
  padding: 12px 38px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #fff;
  background-color: #000;
  border: 1px var(--theme-border) solid;
  overflow: hidden;
  cursor: pointer;
}

/* ----------------
      Parallax
  ---------------- */

.tickets__parallax {
  width: 100%;
  height: 400px;
  background-image: url(../assets/img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 1150px) {
  .tickets__booking {
    justify-content: end;
  }
  .tickets__img {
    width: 246.5%;
    height: auto;
    max-height: 438px;
    object-fit: cover;
  }
  .booking__type_md_hide {
    display: none;
  }
  .booking__amount {
    align-items: stretch;
    margin-right: 29px;
  }
  .booking__number-input {
    width: 100%;
  }
  .booking__amount .booking__title {
    text-align: left;
  }
  .booking__item {
    margin-bottom: 15px;
  }
  .booking__total {
    margin-top: 0;
  }
  .booking__submit {
    margin-top: 42px;
  }
}
@media (max-width: 930px) {
  .tickets__img {
    width: 61%;
    max-height: 339px;
  }
  .booking__amount {
    margin-right: 49px;
  }
  .booking__title {
    margin-bottom: 35px;
  }
  .booking__item {
    margin-bottom: 10px;
  }
  .booking__total {
    padding-top: 18px;
    margin-bottom: -2px;
  }
  .tickets__parallax {
    height: 300px;
  }
}
@media (max-width: 660px) {
  .tickets__img {
    height: 160px;
  }
  .booking__title,
  .booking__legend,
  .booking__total,
  .booking__submit {
    font-size: 16px;
  }
  .booking__total {
    letter-spacing: 0;
  }
  .booking__amount {
    margin-top: 42px;
    margin-right: 0;
  }
  .booking__submit {
    padding: 16px 50px;
    margin-top: 17px;
  }
  .booking__title {
    margin-bottom: 20px;
  }
  .booking__total {
    padding-top: 20px;
  }
  .tickets__inner {
    flex-direction: column;
  }
  .tickets__img {
    width: 100%;
  }
  .tickets__booking {
    justify-content: center;
  }
  .booking__amount .booking__title {
    text-align: center;
  }
}

/* ----------------
      Contacts
  ---------------- */

.contacts__inner {
  display: flex;
  justify-content: space-between;
  color: var(--theme-dark);
}
.contacts__title {
  margin-bottom: 50px;
  max-width: 227px;
  font-size: var(--font3);
  font-weight: 500;
  line-height: 33px;
}
.information__item {
  margin-bottom: 25px;
  line-height: 26px;
}

.information {
  list-style: none;
  font-size: var(--font4);
  font-weight: 300;
}
.information__link {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 300;
  letter-spacing: 0;
  line-height: 26px;
  color: var(--theme-dark);
  text-decoration: none;
  transition: color 0.5s ease;
}
.contacts__map {
  width: 66.5%;
  min-height: 25vw;
}
@media (max-width: 1150px) {
  .contacts__map {
    width: 70.5%;
  }
  .contacts__title {
    margin-bottom: 35px;
    max-width: 200px;
    line-height: 26px;
  }
  .information__item {
    margin-bottom: 12px;
  }
}
@media (max-width: 930px) {
  .contacts__inner {
    flex-direction: column;
  }
  .contacts__title {
    max-width: 170px;
    line-height: 23px;
  }
  .contacts__map {
    margin-top: 20px;
    width: 100%;
  }
  .contacts__container {
    margin-bottom: 35px;
  }
}
@media (max-width: 660px) {
  .contacts__title {
    max-width: 130px;
    line-height: 19px;
  }
  .information__item {
    margin-bottom: 9px;
  }
  .contacts__map {
    margin-top: 27px;
    width: 100%;
  }
  .contacts__container {
    margin-bottom: 2px;
  }
}

/* ----------------
      Footer
  ---------------- */

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 35px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.footer .logo {
  margin-top: 5px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  max-width: 703px;
}
.footer .nav__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  width: 363px;
  height: 150px;
  line-height: 50px;
}
.footer .nav__item {
  margin-right: 170px;
}
.footer__socials {
  align-items: end;
  margin-right: -10px;
  margin-bottom: 10px;
}

.socials__button {
  list-style-type: none;
}
.socials__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
}
.socials__link path {
  transition: all 0.5s ease;
}
.socials__link:hover path {
  fill: var(--font-gold);
}
.socials__link::before {
  position: absolute;
  top: -50%;
  right: -50%;
  content: '';
  padding: 24px;
  border-radius: 50%;
  border: 1px #fff solid;
  transition: all 0.5s ease;
}
.socials__link:hover::before {
  border: 1px var(--font-gold) solid;
}
.footer__date,
.footer__author,
.footer__school {
  font-size: 22px;
}
@media (max-width: 1150px) {
  .footer__nav {
    justify-content: start;
  }
  .nav__inner {
    margin-left: 40px;
  }
  .footer-top {
    padding-top: 55px;
  }
  .footer .nav__item {
    margin-right: 130px;
  }
  .socials__link {
    margin-bottom: 14px;
  }
}
@media (max-width: 985px) {
  .footer-top {
    flex-direction: column;
  }
  .footer__socials {
    align-self: end;
  }
}
@media (max-width: 930px) {
  .footer-top {
    padding-top: 43px;
    padding-bottom: 30px;
  }
  .footer .nav__inner {
    margin-left: auto;
    width: 405px;
  }
  .footer .nav__item {
    margin-right: 183px;
  }
  .footer__socials {
    padding-right: 90px;
    margin-top: 15px;
  }
  .footer-bottom {
    padding-top: 35px;
  }
  .footer__school {
    padding-left: 95px;
  }
}
@media (max-width: 660px) {
  .footer .nav__inner {
    margin-top: 25px;
    width: 400px;
    height: 100px;
  }
  .footer .nav__item {
    margin-right: 85px;
  }
  .footer__school_xs_hide {
    display: none;
  }
  .footer__date,
  .footer__author {
    font-size: 16px;
  }
  .footer__nav {
    flex-direction: column;
  }
  .slider__counter {
    height: 82px;
  }
  .slider__counter-inner {
    padding: 0px 73px;
  }
  .slider__num {
    padding: 0 2px;
  }
  .slider__next {
    margin-left: 8px;
  }
  .slider__prev {
    margin-right: 8px;
  }
  .slider__carousel-indicators {
    padding-right: 20px;
  }
  .footer-top {
    padding-top: 34px;
  }
  .footer__socials {
    padding-right: 65px;
    margin-top: 13px;
  }
  .socials__link {
    margin: 24px 15px;
  }
  .footer-top {
    padding-bottom: 20px;
  }
}
@media (max-width: 415px) {
  .footer .nav__inner {
    width: 290px;
  }
  .footer .nav__item {
    margin-right: 0;
  }
  .footer__socials {
    padding-right: 0;
    margin-right: auto;
  }
}
/* ----------------
      Modal
  ---------------- */
.reservation__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.reservation__booking,
.reservation__overview {
  padding: 0;
  width: 400px;
  border: 0;
}
.reservation__booking {
  margin-right: 41px;
}
.reservation__title {
  margin-bottom: 13px;
  font-size: 50px;
  letter-spacing: 0;
  line-height: 55px;
}
.reservation__subtitle {
  font-size: 18px;
  font-weight: 400;
}
.reservation__subtitle.underline:after {
  bottom: -13px;
}
.reservation__when {
  display: flex;
  justify-content: space-between;
}
.reservation__inputs {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}
.reservation__input {
  height: 45px;
  margin: 10px 0;
  padding: 0 8px 0 44px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 0;
  border: 1px var(--bg-dark) solid;
  background-repeat: no-repeat;
  background-position: 15px 50%;
}
.reservation__date,
.reservation__time {
  max-width: 190px;
  width: calc(50% - 10px);
}
.reservation__date::-webkit-calendar-picker-indicator {
  background-image: url('../assets/svg/form/arrow.svg');
  background-size: 17px;
  background-position: center center;
}
.reservation__date::-webkit-datetime-edit {
  opacity: 0;
}
.reservation__date::before {
  content: 'Date';
  font-size: 18;
  font-weight: 400;
}
.reservation__date {
  background-image: url('../assets/svg/form/date.svg');
}
.reservation__time::-webkit-calendar-picker-indicator {
  background-image: url('../assets/svg/form/arrow.svg');
  background-size: 17px;
  background-position: center center;
}
.reservation__time::-webkit-datetime-edit {
  opacity: 0;
}
.reservation__time::before {
  content: 'Time';
  font-size: 18px;
  font-weight: 400;
}
.reservation__time {
  background-image: url('../assets/svg/form/time.svg');
}
.reservation__name,
.reservation__email {
  width: 100%;
}
.reservation__name-input,
.reservation__email-input {
  position: relative;
}
.reservation__name-icon {
  position: absolute;
  left: 15px;
  top: 26px;
  width: 13px;
  height: 15px;
  margin: auto;
  background-image: url('../assets/svg/form/name.svg');
}
.reservation__email-icon {
  position: absolute;
  left: 15px;
  top: 26px;
  width: 15px;
  height: 11px;
  margin: auto;
  background-image: url('../assets/svg/form/email.svg');
}

.reservation__phone {
  background-image: url('../assets/svg/form/tel.svg');
}
.reservation__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background: url('../assets/svg/form/arrow.svg') right 14px center no-repeat,
    url('../assets/svg/form/ballot.svg') left 15px center no-repeat;
}
.reservation__select::-webkit-expand {
  background-image: url('../assets/svg/form/arrow.svg');
}
.reservation__select option {
  padding: 12px 45px;
  font-size: 18px;
  font-weight: 300;
}

.data {
  margin-top: 10px;
  padding: 10px 12px 10px 15px;
  border: 1px var(--bg-dark) solid;
}
.data .reservation__subtitle {
  margin-bottom: 5px;
  line-height: 20px;
  font-family: 'Forum', cursive;
}
.data .reservation__subtitle.underline:after {
  bottom: -8px;
}
.data__label {
  padding-top: 8px;
  font-size: 18px;
}
.date__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.data__number-input {
  display: inline-flex;
  width: 105px;
  height: 25px;
  padding: 0;
  margin-left: 93px;
  border-width: 1px;
  font-weight: 400;
}
.data__number-input {
  margin-left: 30%;
}

.data .number-input__plus,
.data .number-input__minus {
  width: 35px;
  font-size: 12px;
  color: #fff;
  background-color: var(--bg-dark);
}
.data__number-input:last-child {
  margin-top: 8px;
  margin-bottom: 5px;
}
.data .number-input__input {
  width: 35px;
  font-size: 18px;
}
.reservation__overview {
  position: relative;
  padding: 25px 30px;
  border: 1px solid var(--bg-dark);
}
.overview__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
}
.overview__subtitle {
  margin-bottom: 13px;
  font-size: 22px;
  font-weight: 500;
  opacity: 0.9;
}
.overview__img {
  position: absolute;
  top: 25px;
  right: 30px;
}
.overview__icon {
  margin-right: 10px;
}
.overview__info-item {
  height: 21px;
  margin-bottom: 5px;
}
.overview__info-item > * {
  font-size: 18px;
  font-weight: 300;
  border: 0;
}
.overview__number-item {
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.overview__number {
  margin-top: 22px;
  font-size: 22px;
  font-weight: 400;
}
.tickets-number {
  margin-right: 10px;
  width: 36px;
  height: 20px;
  font-size: 18px;
  color: #a4a4a3;
  text-align: center;
  background-color: var(--bg-dark);
  border: 0;
  border-radius: 5px;
}
.tickets-cost {
  width: 125px;
  text-align: right;
  background-color: transparent;
  border: 0;
}
.overview__total {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}
.overview__total-sum {
  width: 125px;
  font-weight: 500;
  text-align: right;
  border: 0;
}
.overline.underline::after {
  bottom: 48px;
}
.credits__face,
.credits__back {
  position: relative;
  padding: 15px 20px;
  width: 360px;
  height: 211px;
  border-radius: 3px;
}

.input-number_arrow_false::-webkit-inner-spin-button,
.input-number_arrow_false::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 28px;
  margin: 0;
  -webkit-appearance: none;
  background: #fff url('../assets/svg/form/number_arrow.svg') no-repeat center
    center;
  border-left: 0.5px solid #a4a4a3;
  opacity: 1;
}

.credits__face {
  background-color: #bcbcbc;
  z-index: 1060;
}
.credits__acceptable {
  position: absolute;
  top: 34px;
  right: 20px;
  display: flex;
  flex-direction: column;
}
.credits__type {
  margin-bottom: 15px;
}

.credits__input {
  padding: 10px;
  margin-bottom: 10px;
  height: 35px;
  font-size: 12px;
  font-weight: 400;
  border: 0;
}
.credits__card-number {
  width: 215px;
}
.credits__date-input {
  width: 100px;
  margin-right: 10px;
}
.credits__cardholder {
  width: 320px;
}
.credits__label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.credits__back {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -181px;
  margin-left: 110px;
  padding: 85px 20px 15px 265px;
  background-color: #939393;
}
.credits__back::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: '';
  height: 45px;
  width: 360px;
  background-color: #161615;
}
.credits__cvc {
  width: 75px;
}
.credits__instruction {
  max-width: 55px;
  font-size: 10px;
  font-weight: 400;
}
.overview__btn {
  display: block;
  margin: 25px 0 0 auto;
  padding: 11px 85px;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  background-color: var(--dark-red);
  border: 0;
}
@media (max-width: 1024px) {
  .reservation__content {
    padding-top: 75px;
    padding-bottom: 30px;
  }
  .reservation__container {
    width: 100%;
  }
}
@media (max-width: 1020px) {
  .reservation__booking {
    margin: 0;
    width: 530px;
  }
  .reservation__date,
  .reservation__time {
    max-width: none;
  }
  .modal {
    overflow: scroll;
  }
}
@media (max-width: 768px) {
  .reservation__container {
    max-width: 590px;
  }
  .reservation__booking,
  .reservation__overview {
    width: 530px;
  }
  .reservation__inputs {
    margin-top: 44px;
  }
  .reservation__form {
    padding: 0 30px;
  }
  .reservation__overview {
    margin-top: 50px;
    padding: 25px 15px;
  }
  .credits__back {
    margin-left: auto;
  }
  .overview__img {
    right: 15px;
  }
}
@media (max-width: 660px) {
  .credits__back {
    margin-top: 25px;
    margin-left: 0;
  }
  .reservation__date,
  .reservation__time {
    max-width: 190px;
  }
}
@media (max-width: 450px) {
  .data__number-input {
    margin-left: 9%;
  }
  .overview__img {
    display: none;
  }
  .reservation__date,
  .reservation__time {
    max-width: 150px;
  }
  .credits__cardholder {
    width: 215px;
  }
  .credits__face,
  .credits__back {
    width: 285px;
  }
  .credits__acceptable {
    display: none;
  }
  .credits__back::after {
    width: 285px;
  }
  .credits__back {
    padding: 85px 20px 15px 170px;
  }
}

/* ----------------
      General
  ---------------- */

.show {
  display: block;
}
.hide {
  display: none;
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@keyframes fadeIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes fadeOut {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.hiddenAnimation {
  animation-name: hiddenAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
@keyframes hiddenAnimation {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}
