/**
*@prettier
*/
/* ----------------
       General
  ----------------- */
:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
  --font3: 28px;
  --font4: 22px;
  --font5: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 75px 0;
}

/* ----------------
      Typography
  ----------------- */

*[class$='_dark'] {
  color: #000;
}
*[class$='_gold'] {
  color: var(--font-gold);
}
*[class$='_light'] {
  color: #fff;
}
*[class$='_bold'] {
  font-weight: bold;
}
*[class$='_bg-dark'] {
  background-color: var(--bg-dark);
  color: #fff;
}
.title {
  margin: 0;
  font-family: 'Forum', cursive;
  font-size: var(--font1);
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 90px;
  text-transform: uppercase;
}
.title.underline {
  margin-bottom: 103px;
}
.title_gold {
  color: var(--font-gold);
}
.title_light {
  color: #ffffff;
}
.subtitle {
  font-size: var(--font3);
  font-weight: 300;
  letter-spacing: 2px;
}
.text {
  font-size: var(--font4);
  font-weight: 300;
}
.card__title {
  font-family: 'Forum', cursive;
  font-size: var(--font2);
  letter-spacing: 5px;
  line-height: 30px;
  text-transform: uppercase;
}
.card__title.underline {
  margin-bottom: 22px;
}
.link {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease;
}
.link:hover {
  color: var(--font-gold);
}
.link_active {
  color: #7e6c51;
}

.underline {
  position: relative;
}
.underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  height: 3px;
  background-color: var(--dark-red);
}
.underline.card__title::after {
  bottom: -10px;
}

/* ----------------
        Header
  ----------------- */

.header {
  background-color: var(--bg-dark);
  padding: 50px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.logo {
  height: 30px;
  width: 190px;
  background-image: url('../assets/svg/logo.svg');
  background-repeat: no-repeat;
}
.nav {
  max-width: 775px;
  width: 100%;
  line-height: 50px;
}
.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav__item:not(:last-child) {
  padding-right: 10px;
}

/* ----------------
      Welcome
  ----------------- */

.welcome__container {
  position: relative;
  padding: 0 0 273px;
}
.welcome__title {
  position: relative;
  max-width: 600px;
  padding: 150px 0 25px;
}
.welcome__subtitle {
  position: relative;
  margin-bottom: 75px;
}
.welcome__btn {
  position: relative;
  padding: 1.1em 3.1em;
  font-size: var(--font4);
  font-weight: 200;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: 2px;
  line-height: 75px;
  text-decoration: none;
  background-color: var(--dark-red);
  border-radius: 10px;
  transition: background-color 0.5s ease;
}
.welcome__btn:hover {
  background-color: var(--font-gold);
}

/* ----------------
      Slider
  ----------------- */

.welcome__slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.welcome__slider::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0.5) 16.19%,
    rgba(0, 0, 0, 0) 30.73%
  );
}
.slider__wrapper {
  width: 100%;
}
.slider__slide {
  width: 100%;
  height: 750px;
}
.slider__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__counter {
  display: flex;
  align-items: center;
  width: 600px;
  height: 120px;
  margin-top: -60px;
  z-index: 20;
  font-size: var(--font4);
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
  background-color: var(--bg-dark);
}

.slider__carousel-indicators {
  z-index: 15;
  display: flex;
  justify-content: center;
  margin-right: 60px;
  margin-left: 45px;
  list-style: none;
}
.slider__carousel-dot {
  display: block;
  height: 16px;
  width: 16px;
  background-color: #fff;
  cursor: pointer;
  transition: opacity 0.6s ease;
}
.slider__carousel-dot:not(:last-child) {
  margin-right: 25px;
}
.slider__num:first-child {
  margin-left: 64px;
}
.slider__num {
  padding: 0 10px;
}
.slider__prev {
  margin-right: 10px;
  cursor: pointer;
}
.slider__next {
  margin-left: 10px;
  cursor: pointer;
}

/* ----------------
      Visiting
  ----------------- */

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 78px 60px;
  max-width: 1440px;
}
.card {
  display: block;
  text-decoration: none;
  color: #000;
  transition: all 0.5s ease;
}
.card__vr {
  padding-bottom: 10px;
  font-size: var(--font4);
  font-weight: 200;
}
.card__googl-street {
  font-size: var(--font5);
  font-weight: 200;
}
.card__img {
  margin-bottom: 25px;
}

/* ----------------
      Explore
  ----------------- */
.explore__container {
  display: flex;
}
.explore__text {
  margin-bottom: 25px;
  line-height: 38.5px;
}

.explore__text_yellow {
  color: #caaa7d;
}
.explore__description {
  max-width: 660px;
  margin-right: 60px;
}
.compare {
  width: 50%;
  display: block;
  margin: 30px auto;
  margin-top: 15px;
  width: 720px;
  height: 700px;
}

.compare__img {
  width: 100%;
  display: block;
}

.compare__slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
}

.compare__after-image {
  display: block;
}

.compare__before-image {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

.resizer {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 5;
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  background: white;
  /*Stop vertical scrolling on touch*/
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.resizer:after {
  content: '';
  color: white;
  position: absolute;
  margin: 0 0 0 -15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid white;
}
