/* ----------------
       General
  ----------------- */
:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
  --font3: 28px;
  --font4: 22px;
  --font5: 18px;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 75px 0;
}

/* ----------------
      Typography
  ----------------- */

*[class$='_dark'] {
  color: #000;
}
*[class$='_gold'] {
  color: var(--font-gold);
}
*[class$='_red'] {
  color: var(--dark-red);
}
*[class$='_light'] {
  color: #fff;
}
*[class$='_bold'] {
  font-weight: bold;
}
*[class$='_bg-dark'] {
  background-color: var(--bg-dark);
  color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  margin: 0;
  font-family: 'Forum', cursive;
  font-size: var(--font1);
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 90px;
  text-transform: uppercase;
}
.title.underline {
  margin-bottom: 103px;
}
.subtitle {
  font-size: var(--font3);
  font-weight: 300;
  letter-spacing: 2px;
}
.text {
  font-size: var(--font4);
  font-weight: 300;
}
.card__title {
  font-family: 'Forum', cursive;
  font-size: var(--font2);
  letter-spacing: 5px;
  line-height: 35px;
  text-transform: uppercase;
}
.card__title.underline {
  margin-bottom: 22px;
}
.card__title.underline::after {
  width: 68%;
  transition: width 0.5s ease;
}
.card:hover .card__title.underline:after {
  width: 100%;
}
.link,
.date {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease;
}
.link:hover,
.information__link:hover,
.socials__button:hover {
  color: var(--font-gold);
}
.link_active {
  color: #7e6c51;
}

.underline {
  position: relative;
}
.underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -28px;
  height: 3px;
  background-color: var(--dark-red);
}
.underline.card__title::after {
  height: 2px;
  bottom: -12px;
}
button {
  cursor: pointer;
}
/* ----------------
      Ripple
  ----------------- */

.ripple {
  position: relative;
}

.ripple::active,
.ripple::visited,
.ripple:focus {
  outline: 0;
  border: 0;
}

.ripple__span {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleAnimation {
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* ----------------
        Header
  ----------------- */

.header {
  background-color: var(--bg-dark);
  padding: 59px 0 58px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.logo {
  height: 33px;
  width: 199px;
  background-image: url('../assets/svg/logo.svg');
  background-repeat: no-repeat;
}
.modal__logo {
  height: 41px;
  width: 85px;
  background-image: url('../assets/svg/gold-logo.svg');
}
.nav {
  max-width: 775px;
  width: 100%;
  line-height: 26px;
}
.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* ----------------
      Welcome
  ----------------- */

.welcome__container {
  position: relative;
  padding: 0 0 273px;
}
.welcome__title {
  position: relative;
  max-width: 600px;
  padding: 150px 0 25px;
}
.welcome__subtitle {
  position: relative;
  margin-bottom: 75px;
}
.welcome__btn {
  position: relative;
  padding: 1.1em 3.1em;
  font-size: var(--font4);
  font-weight: 200;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: 2px;
  line-height: 75px;
  text-decoration: none;
  background-color: var(--dark-red);
  border-radius: 10px;
  transition: background-color 0.5s ease;
}
.booking__submit {
  transition: background-color 0.5s ease;
}
.welcome__btn:hover,
.booking__submit:hover {
  background-color: var(--font-gold);
}
.booking__title {
  font-weight: 700;
  font-size: var(--font3);
  font-weight: bold;
}
.booking__total {
  letter-spacing: 1.65px;
  margin-top: 43px;
}
.booking__submit {
  margin-top: 37px;
}
/* ----------------
      Slider
  ----------------- */

.welcome__slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.welcome__slider::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0.5) 16.19%,
    rgba(0, 0, 0, 0) 30.73%
  );
}
.slider__wrapper {
  width: 100%;
}
.slider__slide {
  width: 100%;
  height: 750px;
}
.slider__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__counter {
  display: flex;
  align-items: center;
  width: 600px;
  height: 120px;
  margin-top: -60px;
  z-index: 20;
  font-size: var(--font4);
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
  background-color: var(--bg-dark);
}

.slider__carousel-indicators {
  z-index: 15;
  display: flex;
  justify-content: center;
  margin-right: 60px;
  margin-left: 45px;
  list-style: none;
}
.slider__carousel-dot {
  display: block;
  height: 16px;
  width: 16px;
  background-color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: all 0.4s ease;
}
.slider__carousel-dot:not(:last-child) {
  margin-right: 25px;
}
.slider__num:first-child {
  margin-left: 64px;
}
.slider__num {
  padding: 0 10px;
}

.slider__button {
  background-color: transparent;
  border: 0;
}
.slider__prev {
  margin-right: 10px;
  transition: all 0.4s ease;
}
.slider__next {
  margin-left: 10px;
  transition: all 0.4s ease;
}
.slider__carousel-dot:hover {
  opacity: 0.7;
}

.slider__next:hover path,
.slider__prev:hover path {
  fill: var(--font-gold);
}

/* ----------------
      Visiting
  ----------------- */

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 76px 60px;
  max-width: 1440px;
}
.card {
  display: block;
  text-decoration: none;
  color: #000;
  transition: all 0.5s ease;
}
.card__vr {
  padding-bottom: 10px;
  font-size: var(--font4);
  font-weight: 200;
}
.card__googl-street {
  font-size: var(--font5);
  font-weight: 200;
}
.card__img {
  margin-bottom: 22.5px;
}

/* ----------------
      Explore
  ----------------- */

.explore__container {
  display: flex;
}
.explore__text {
  margin-bottom: 25px;
  line-height: 39px;
}

.explore__text_yellow {
  color: #caaa7d;
}
.explore__description {
  max-width: 660px;
  margin-right: 60px;
}
.compare {
  width: 50%;
  display: block;
  margin-top: 15px;
  width: 720px;
  height: 700px;
}

.compare__img {
  display: block;
  pointer-events: none;
  user-select: none;
}

.compare__slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.compare__after-image {
  display: block;
}

.compare__before-image {
  position: absolute;
  height: 100%;
  width: 61%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

.resizer {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 5;
  top: 0;
  left: 61%;
  height: 100%;
  cursor: e-resize;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.resizer:after {
  content: '';
  position: absolute;
  margin-left: -20px;
  background-image: url('../assets/img/explore-slider/resizer.svg');
  height: 100%;
  width: 40px;
}

/* ----------------
      Video
  ----------------- */

.video__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video__text {
  max-width: 720px;
  line-height: 38px;
}
.player__video {
  object-fit: cover;
  height: 650px;
  width: 100%;
  margin: 75px 0 -5px;
}
.player__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  background-color: #000;
}
.video__player {
  position: relative;
}

.player__wrapper:hover {
  opacity: 0.7;
}
.player__wrapper-before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-image: url('../assets/svg/play-big.svg');
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-position: center 57%;
  z-index: 1000;
}

.player__play-button {
  height: 31px;
  width: 21px;
}
.player__volume-button {
  height: 31px;
  width: 38px;
  object-fit: cover;
}
.player__play-button:hover,
.player__volume-button:hover,
.player__expand-button:hover {
  opacity: 0.7;
}
.player__range-time {
  width: 70%;
  max-width: 929px;
  height: 8px;
  -webkit-appearance: none;
  background: #c4c4c4;
  outline: none;
}
.player__range-time::-webkit-slider-runnable-track {
  height: 8px;
  background-color: var(--dark-red);
}
.player__range-time::-webkit-slider-thumb {
  margin-top: -3px;
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
.player__range-volume {
  width: 155px;
  -webkit-appearance: none;
  height: 8px;
  background: #c4c4c4;
  outline: none;
}
.player__range-volume::-webkit-slider-thumb {
  margin-top: -3px;
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.player__range-time::-webkit-slider-runnable-track,
.player__range-volume::-webkit-slider-runnable-track {
  height: 8px;
  background: linear-gradient(to right, #710707, #710707), #d7d7d7;
  background-size: var(--background-size, 0%) 100%;
  background-repeat: no-repeat;
}

.video__slider {
  margin-top: 40px;
}
.vslider__videos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vslider__videos > iframe {
  border: 0;
}
.vslider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.vslider__prev,
.vslider__next {
  width: 10px;
  height: 12px;
  background-color: transparent;
  border: 0;
}
.vslider__dots {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.vslider__dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #999;
}
.vslider__dot:not(:last-child) {
  margin-right: 20px;
}

.vslider__dot.active {
  background-color: #333;
}
.vslider__dot:hover {
  background-color: var(--dark-red);
}
.vslider__prev:hover path,
.vslider__next:hover path {
  fill: var(--dark-red);
}

/* ----------------
      Gallery
  ----------------- */

.gallery__title {
  margin-bottom: 75px;
}

.picture {
  position: relative;
  height: 1885px;
  overflow-y: hidden;
}
.picture::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 85%, #000000 100%);
}
.picture__inner {
  height: 3020px;
  column-count: 3;
  column-gap: 36px;
  width: 100%;
}

.picture__item {
  width: 456px;
  break-inside: avoid;
  margin-bottom: 20px;
}
.picture__item:nth-child(1),
.picture__item:nth-child(11) {
  margin-top: 50px;
}

/* ----------------
      Tickets
  ----------------- */

.tickets__inner {
  display: flex;
  justify-content: space-between;
}
.tickets__booking {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: var(--font5);
  font-weight: 400;
}
.booking__amount,
.booking__type {
  padding: 0;
  border: 0;
}
.booking__type {
  margin-left: 60px;
}
.booking__amount {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* ---------------------
  Tickets radio input
  --------------------- */

.booking__radio-label {
  position: relative;
  display: flex;
  align-items: center;
  margin: 25px 0;
  padding-left: 40px;
  line-height: 27px;
  cursor: pointer;
  font-size: var(--font4);
  font-weight: 300;
  -webkit-user-select: none;
  user-select: none;
}
.booking__radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.booking__checkmark {
  position: absolute;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #000;
}
.booking__radio-label:hover .booking__radio ~ .booking__checkmark {
  background-color: #ccc;
}
.booking__radio-label .booking__radio:checked ~ .booking__checkmark {
  background-color: #eee;
}
.booking__checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.booking__radio-label .booking__radio:checked ~ .booking__checkmark:after {
  display: block;
}
.booking__radio-label .booking__checkmark:after {
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
}

.booking__legend {
  font-size: var(--font4);
  font-weight: 300;
}
.booking__title {
  margin-bottom: 25px;
}
.booking__amount .booking__title {
  text-align: right;
}

/* ---------------------
  Tickets number input
  --------------------- */

.number-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 150px;
  padding: 6px 14px;
  margin: 15px 0 10px;
  font-size: var(--font4);
  font-weight: 300;
  border: 3px #000 solid;
}
.number-input__input {
  all: unset;
  width: 3em;
  text-align: center;
}
.number-input__plus,
.number-input__minus {
  font-size: var(--font2);
  font-weight: 400;
  border: 0;
  background-color: #fff;
  transition: opacity 0.2s ease;
}
.number-input__plus:hover,
.number-input__minus:hover {
  opacity: 0.5;
}
.booking__submit {
  padding: 12px 38px;
  font-size: var(--font4);
  font-weight: 300;
  letter-spacing: 2px;
  color: #fff;
  background-color: #000;
  border: 0;
  overflow: hidden;
  cursor: pointer;
}

/* ----------------
      Parallax
  ---------------- */

.tickets__parallax {
  width: 100%;
  height: 400px;
  background-image: url(../assets/img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* ----------------
      Contacts
  ---------------- */

.contacts__inner {
  display: flex;
  justify-content: space-between;
  color: #000;
}
.contacts__title {
  margin-bottom: 50px;
  max-width: 227px;
  font-size: var(--font3);
  font-weight: 500;
  line-height: 33px;
}
.information__item {
  margin-bottom: 25px;
  line-height: 26px;
}

.information {
  list-style: none;
  font-size: var(--font4);
  font-weight: 300;
}
.information__link {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font4);
  font-weight: 300;
  letter-spacing: 0;
  line-height: 26px;
  color: #000;
  text-decoration: none;
  transition: color 0.5s ease;
}
/* ----------------
      Footer
  ---------------- */

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 35px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.footer .logo {
  margin-top: 5px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  max-width: 703px;
}
.footer .nav__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  width: 363px;
  height: 150px;
  line-height: 50px;
}
.footer .nav__item {
  margin-right: 170px;
}
.footer__socials {
  display: flex;
  align-items: end;
  margin-right: -10px;
  margin-bottom: 10px;
}
.socials__button {
  list-style-type: none;
}
.socials__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
}
.socials__link path {
  transition: all 0.5s ease;
}
.socials__link:hover path {
  fill: var(--font-gold);
}
.socials__link::before {
  position: absolute;
  top: -50%;
  right: -50%;
  content: '';
  padding: 24px;
  border-radius: 50%;
  border: 1px #fff solid;
  transition: all 0.5s ease;
}
.socials__link:hover::before {
  border: 1px var(--font-gold) solid;
}

/* ----------------
      Modal
  ---------------- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__container {
  padding-top: 15px;
}
.modal__content {
  position: relative;
  width: 100%;
  padding: 91px;
  background-color: #fff;
  border-radius: 4px;
  overflow-y: auto;
}
.modal__close {
  position: absolute;
  top: -8px;
  right: 24px;
  font-size: 70px;
  color: #000;
  opacity: 0.5;
  font-weight: 100;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.modal__booking,
.modal__overview {
  padding: 0;
  width: 400px;
  border: 0;
}
.modal__booking {
  margin-right: 41px;
}
.modal__title {
  margin-bottom: 13px;
  font-size: 50px;
  letter-spacing: 0;
  line-height: 55px;
}
.modal__subtitle {
  font-size: var(--font5);
  font-weight: 400;
}
.modal__subtitle.underline:after {
  bottom: -13px;
}
.modal__when {
  display: flex;
  justify-content: space-between;
}
.modal__inputs {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}
.modal__input {
  height: 45px;
  margin: 10px 0;
  padding: 0 8px 0 44px;
  font-size: var(--font5);
  font-weight: 400;
  border-radius: 0;
  border: 1px var(--bg-dark) solid;
  background-repeat: no-repeat;
  background-position: 15px 50%;
}
.modal__date,
.modal__time {
  width: 190px;
}

.modal__date::-webkit-calendar-picker-indicator {
  background-image: url('../assets/svg/form/arrow.svg');
  background-size: 17px;
}
.modal__date::-webkit-datetime-edit {
  opacity: 0;
}
.modal__date::before {
  content: 'Date';
  font-size: var(--font5);
  font-weight: 400;
}
.modal__date {
  background-image: url('../assets/svg/form/date.svg');
}
.modal__time::-webkit-calendar-picker-indicator {
  background-image: url('../assets/svg/form/arrow.svg');
  background-size: 17px;
}
.modal__time::-webkit-datetime-edit {
  opacity: 0;
}
.modal__time::before {
  content: 'Time';
  font-size: var(--font5);
  font-weight: 400;
}
.modal__time {
  background-image: url('../assets/svg/form/time.svg');
}
.modal__name,
.modal__email {
  width: 100%;
}
.modal__name-input,
.modal__email-input {
  position: relative;
}
.modal__name-icon {
  position: absolute;
  left: 15px;
  top: 26px;
  width: 13px;
  height: 15px;
  margin: auto;
  background-image: url('../assets/svg/form/name.svg');
}
.modal__email-icon {
  position: absolute;
  left: 15px;
  top: 26px;
  width: 15px;
  height: 11px;
  margin: auto;
  background-image: url('../assets/svg/form/email.svg');
}

.modal__phone {
  background-image: url('../assets/svg/form/tel.svg');
}
.modal__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background: url('../assets/svg/form/arrow.svg') right 14px center no-repeat,
    url('../assets/svg/form/ballot.svg') left 15px center no-repeat;
}
.modal__select::-webkit-expand {
  background-image: url('../assets/svg/form/arrow.svg');
}

.data {
  margin-top: 10px;
  padding: 10px 12px 10px 15px;
  border: 1px var(--bg-dark) solid;
}
.data .modal__subtitle {
  margin-bottom: 5px;
  line-height: 20px;
  font-family: 'Forum', cursive;
}
.data .modal__subtitle.underline:after {
  bottom: -8px;
}
.data__label {
  padding-top: 8px;
  font-size: var(--font5);
}
.date__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.data__number-input {
  display: inline-flex;
  width: 105px;
  height: 25px;
  padding: 0;
  margin-left: 93px;
  border-width: 1px;
  font-weight: 400;
}

.data .number-input__plus,
.data .number-input__minus {
  width: 35px;
  font-size: var(---font3);
  color: #fff;
  background-color: var(--bg-dark);
}
.data__number-input:last-child {
  margin: 8px 0 5px;
}
.data .number-input__input {
  width: 35px;
  font-size: var(--font5);
}

.modal__overview {
  position: relative;
  padding: 25px 30px;
  border: 1px solid var(--bg-dark);
}
.overview__title {
  font-size: var(--font2);
  font-weight: 500;
  line-height: 39px;
}
.overview__subtitle {
  margin-bottom: 13px;
  font-size: var(--font4);
  font-weight: 500;
  opacity: 0.9;
}
.overview__img {
  position: absolute;
  top: 25px;
  right: 30px;
}
.overview__icon {
  margin-right: 10px;
}
.overview__info-item {
  height: 21px;
  margin-bottom: 5px;
}
.overview__info-item > * {
  font-size: var(--font5);
  font-weight: 300;
  border: 0;
}
.overview__number-item {
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.overview__number {
  margin-top: 22px;
  font-size: var(--font4);
  font-weight: 400;
}
.tickets-number {
  margin-right: 10px;
  width: 32px;
  height: 20px;
  font-size: var(--font5);
  color: #a4a4a3;
  text-align: center;
  background-color: var(--bg-dark);
  border: 0;
  border-radius: 5px;
}
.tickets-cost {
  width: 50px;
  text-align: right;
  background-color: transparent;
  border: 0;
}
.overview__total {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  margin-bottom: 10px;
  font-size: var(--font2);
  font-weight: 400;
  line-height: 38px;
}
.overview__total-sum {
  width: 80px;
  font-weight: 500;
  text-align: right;
  border: 0;
}
.overline.underline::after {
  bottom: 48px;
}
.credits__face,
.credits__back {
  position: relative;
  padding: 15px 20px;
  width: 360px;
  height: 211px;
  border-radius: 3px;
}

.input-number_arrow_false::-webkit-inner-spin-button,
.input-number_arrow_false::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 28px;
  margin: 0;
  -webkit-appearance: none;
  background: #fff url('../assets/svg/form/number_arrow.svg') no-repeat center center;
  border-left: 0.5px solid #a4a4a3;
  opacity: 1;
}

.credits__face {
  background-color: #bcbcbc;
  z-index: 1060;
}
.credits__acceptable {
  position: absolute;
  top: 34px;
  right: 20px;
  display: flex;
  flex-direction: column;
}
.credits__type {
  margin-bottom: 15px;
}

.credits__input {
  padding: 10px;
  margin-bottom: 10px;
  height: 35px;
  font-size: 12px;
  font-weight: 400;
  border: 0;
}
.credits__card-number {
  width: 215px;
}
.credits__date-input {
  width: 100px;
  margin-right: 10px;
}
.credits__cardholder {
  width: 320px;
}
.credits__label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.credits__back {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -181px;
  margin-left: 110px;
  padding: 85px 20px 15px 265px;
  background-color: #939393;
}
.credits__back::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: '';
  height: 45px;
  width: 360px;
  background-color: #161615;
}
.credits__cvc {
  width: 75px;
}
.credits__instruction {
  max-width: 55px;
  font-size: 10px;
  font-weight: 400;
}
.overview__btn {
  margin: 25px 0 0 250px;
  padding: 11px 85px;
  font-size: var(--font4);
  font-weight: 400;
  color: #fff;
  background-color: var(--dark-red);
  border: 0;
}

.show {
  display: block;
}
.hide {
  display: none;
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@keyframes fadeIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes fadeOut {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
