@import './animation.scss';

$accent-color: #24c5db;
$main-color: #192f2d;

$fz1: 53px;
$fz2: 24px;
$fz3: 20px;
$fz4: 18px;
$fz5: 12px;

@media (min-width: 0) {
  $fz1: 48px;
  $fz2: 20px;
  $fz3: 18px;
  $fz4: 18px;
  $fz5: 12px;
}

@media (max-width: 1024px) {
  $fz1: 48px;
  $fz2: 20px;
  $fz3: 18px;
  $fz4: 18px;
  $fz5: 12px;
}

.container {
  width: calc(100% - 40px);
  max-width: 1440px;
  margin: 0 auto;
}

@mixin basic-trans {
  transition: 200ms cubic-bezier(0.17, 0.67, 0.56, 0.84);
  transition-delay: 50ms;
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin cover-background-image($src) {
  background: center / cover no-repeat url($src);
}

@mixin glass-plastin {
  border: 3px solid rgba($accent-color, 0.5);
  border-radius: 25px;
  background-color: rgba($accent-color, 0.15);
  backdrop-filter: blur(6px);
}
