@import './animation.scss';

$accent-color: #24c5db;
$main-color: #192f2d;

$fz1: 53px;
$fz2: 24px;
$fz3: 20px;
$fz4: 18px;
$fz5: 12px;

$rainbow-colors: #fff, #fdd700, #fd0000, #2199eb, #08aa05;

.container {
  width: calc(100% - 40px);
  max-width: 1440px;
  margin: 0 auto;
}

@mixin basic-trans {
  transition: 200ms cubic-bezier(0.17, 0.67, 0.56, 0.84);
  transition-delay: 50ms;
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin cover-background-image($src) {
  background: center / cover no-repeat url($src);
}

@mixin cover-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin glass-plate {
  border: 3px solid rgba($accent-color, 0.5);
  border-radius: 25px;
  background-color: rgba($accent-color, 0.15);
  backdrop-filter: blur(6px);
}
@mixin white-plate() {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#fff, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 13px;
  cursor: pointer;
}
@mixin smooth-cover-background {
  background: center / cover no-repeat;
  transition: background-image 0.7s ease-in-out;
}
