@import './constant.scss';
@import './normalise.sass';
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

@font-face {
  font-family: 'Steppe';
  src: url('../assets/fonts/Steppe.ttf');
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  min-height: 100vh;
  background-color: $main-color;
  font-family: 'Steppe', sans-serif;
  color: #fff;
}

[data-redirection] {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s linear;
  &:hover {
    opacity: 1;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  background-color: $main-color;
}

.footer__content {
  @extend .container;
  @include flex-space-between;
}

.developer {
  text-decoration: none;
  color: #fff;
}
.rs-logo {
  height: 35px;
}
